button.react-calendar__tile--active {
    background: #0d6efd;
    color: white;
}

.react-calendar__tile--now {
    background: #f9cf4f;
}

button.react-calendar__navigation__label {
    color: black;
}
div.react-calendar {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 750px;
}
