a.navbar-logo {
    user-select: none;
    padding: unset;
}

.navbar-brand-name {
    vertical-align: middle;
    margin-left: 3px;
}

.navbar-search {
    margin: auto;
    min-width: 40%;
}

.navbar-button-wrapper {
    margin-left: auto;
}

.login-button {
    margin-right: 10px;
}
.navbar-user {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}
div.navbar-button-wrapper ul.dropdown-menu {
    left: unset;
    right: 0;
    margin-right: 10px;
}

.top-main-container {
    background-image: linear-gradient(
            to bottom,
            rgba(245, 246, 252, 0.52),
            rgb(39 19 117 / 30%)
        ),
        url("/images/palm.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 350px;
    margin-bottom: 150px;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-main-container-text1,
.top-main-container-text2 {
    color: navajowhite;
    text-shadow: black 5px 0px 5px;
}
.main-container {
    margin: auto;
    text-align: center;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.card.property {
    margin-right: 10px;
    margin-bottom: 10px;
}

.top-main-container div.card {
    height: 125px;
    border: 3px solid #68a5ef;
    width: 450px;
}
.top-card-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 83.5px;
}

.card img {
    height: 180px;
    object-fit: cover;
}

.center-vertically {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.carousel-inner div.center-horizontally {
    display: flex;
    justify-content: center;
}

.v1 {
    border-left: 3px solid #68a5ef;
    height: 119px;
    position: absolute;
    top: 0;
    left: 50%;
}
div.list-group a.list-group-item + .list-group-item {
    border-top-width: 1px;
}

.property-description p {
    word-break: break-word;
}
.property-description figure {
    overflow-x: auto;
}
.property-description table {
    margin: auto;
}
.property-description blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: 5px solid #ccc;
}

.property-description figure table tbody tr td,
.property-description figure table tbody tr th,
.property-description figure table thead tr th {
    min-width: 6em;
    padding: 0.4em;
    border: 1px solid #bfbfbf;
}
.property-description figure table thead,
.property-description figure table tbody tr th {
    background: hsla(0, 0%, 0%, 5%);
}

.property-description figure {
    width: 100% !important;
}
.property-description figure div div {
    all: initial !important;
}
.property-description figure div {
    margin: auto !important;
}
.property-description figure div div iframe {
    width: 800px !important;
    height: 500px !important;
    position: unset !important;
    border: 3px solid black !important;
}

.property-vertical-line {
    border-left: 2px solid ghostwhite;
    height: 125px;
    margin-right: 20px;
}

nav.breadcrumb {
    --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E");
    border: 1px solid rgba(0, 0, 0, 0.125);
    height: 50px;
    display: flex;
    align-items: center;
}
nav.breadcrumb ol {
    margin: 0px 0px 0px 75px;
}

.property-type {
    margin-right: 10px;
    background-color: white;
    border-color: #ced4da;
    color: #212529;
}
.property-type:hover {
    background-color: #f8f9fa;
    border-color: #ced4da;
    color: #495057;
}
.mapboxgl-ctrl-geocoder--input:focus {
    outline: auto;
    outline-color: #0d6efd;
}
.mapboxgl-ctrl-icon {
    cursor: pointer;
}
.map-draggable-pin {
    top: 0;
    right: 0;
    position: absolute;
    top: 120px;
    right: 10px;
    width: 29px;
    height: 28px;
    border: unset;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 4px;
}
.map-draggable-pin:hover {
    background-color: #efefef;
}
.property-photo {
    max-height: 600px;
    object-fit: cover;
}

.rent-button {
    width: 200px;
    height: 50px;
    margin-top: 50px;
    font-size: 18px;
}
.breadcrumb-property {
    margin: unset;
}
.no-padding {
    padding: unset;
}
div.carousel-item div div.no-margin-right {
    margin-right: unset;
}
.property-type:active {
    color: unset;
    background-color: unset;
    border-color: #ced4da;
}
.property-type:focus {
    color: unset;
    background-color: unset;
    border-color: #ced4da;
}
.button-selected {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.button-selected:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
    color: #fff;
}

.button-selected:focus {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.property-info-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.carousel-control-prev.home-carousel,
.carousel-control-next.home-carousel {
    all: revert;
    cursor: pointer;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 15px solid black;
    width: 50px;
    height: 1px;
    border-color: #0d6efd;
    opacity: unset;
}
.carousel-control-prev.home-carousel:hover,
.carousel-control-next.home-carousel:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
    transition: 0.15s ease-in-out;
}
.carousel-control-prev.home-carousel {
    left: 0;
    margin-right: 10px;
}
@media only screen and (max-width: 500px) {
    div.carousel-inner div.center-horizontally {
        display: unset;
    }
    .carousel-control-prev.home-carousel,
    .carousel-control-next.home-carousel {
        margin: auto;
    }
}

.carousel-control-next.home-carousel {
    right: 0;
}

div.carousel-item.home-carousel:not(.active, .carousel-item-start, .carousel-item-end) {
    visibility: hidden;
}
div.carousel-item.home-carousel {
    transition: unset;
}

.input-error-message {
    color: red;
}

.input-error {
    border-color: #ff7878;
}
.Toastify__toast-body > div:last-child {
    white-space: break-spaces;
}
.toastify-error {
    text-align: initial;
}
.ckeditor-wrapper.error
    div.ck.ck-reset.ck-editor.ck-rounded-corners
    div.ck.ck-editor__main
    .ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred {
    border-color: #ff7878;
}
.ckeditor-wrapper.error
    div.ck.ck-reset.ck-editor.ck-rounded-corners
    div.ck.ck-editor__main:focus-within {
    border: unset;
}

ul.list-group.list-group-horizontal
    button.list-group-item.top-navigation-first {
    border-radius: unset;
}
ul.list-group.list-group-horizontal button.list-group-item.top-navigation-last {
    border-radius: unset;
}
.property-card-star-wrapper {
    display: flex;
    justify-content: center;
}
.search-list {
    z-index: 1;
    top: 42px;
    width: 100%;
    border: 1px solid #ced4da;
}
.search-list-item {
    border: unset;
}
.property-price-range-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

div.rc-slider.rc-slider-horizontal .rc-slider-rail {
    height: 15px;
}
.rc-slider-track.rc-slider-track-1 {
    background-color: #0d6efd;
    cursor: e-resize;
    height: 15px;
}
.rc-slider-handle.rc-slider-handle-1,
.rc-slider-handle.rc-slider-handle-2 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    border: solid 2px #0d6efd;
    margin-top: unset;
    opacity: unset;
}
div.rc-slider.rc-slider-horizontal
    .rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    border-color: #0d6efd;
    box-shadow: 0 0 0 3px #96c1ed;
}
.rc-slider-handle.rc-slider-handle-1:hover,
.rc-slider-handle.rc-slider-handle-2:hover {
    border-color: #7eb1fd;
}
.rc-slider-handle.rc-slider-handle-1:active,
.rc-slider-handle.rc-slider-handle-2:active {
    cursor: pointer;
}
.double-range-wrapper {
    height: 25px;
}