a.navbar-logo {
    user-select: none;
    padding: unset;
}

.navbar-brand-name {
    vertical-align: middle;
    margin-left: 3px;
}

.navbar-search {
    margin: auto;
    min-width: 40%;
}

.navbar-button-wrapper {
    margin-left: auto;
}

.login-button {
    margin-right: 10px;
}
.navbar-user {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}
div.navbar-button-wrapper ul.dropdown-menu {
    left: unset;
    right: 0;
    margin-right: 10px;
}

.top-main-container {
    background: url("/images/palm.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 250px;
    margin-bottom: 150px;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-main-container div h1,
.top-main-container div h2 {
    color: navajowhite;
    text-shadow: black 5px 0px 5px;
}
.main-container {
    margin: auto;
    text-align: center;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.card.property {
    margin-right: 10px;
    margin-bottom: 10px;
}

.top-main-container div.card {
    height: 125px;
    border: 3px solid #68a5ef;
    width: 450px;
    margin-top: 53.5px;
}

.card img {
    max-height: 180px;
    object-fit: cover;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.v1 {
    border-left: 3px solid #68a5ef;
    height: 119px;
    position: absolute;
    top: 0;
    left: 50%;
}
div.list-group a.list-group-item + .list-group-item {
    border-top-width: 1px;
}

.property-description p {
    word-break: break-word;
}
.property-description figure {
    overflow-x: auto;
}
.property-description table {
    margin: auto;
}
.property-description blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: 5px solid #ccc;
}

.property-description figure table tbody tr td,
.property-description figure table tbody tr th,
.property-description figure table thead tr th {
    min-width: 6em;
    padding: 0.4em;
    border: 1px solid #bfbfbf;
}
.property-description figure table thead,
.property-description figure table tbody tr th {
    background: hsla(0, 0%, 0%, 5%);
}

.property-description figure {
    width: 100% !important;
}
.property-description figure div div {
    all: initial !important;
}
.property-description figure div {
    margin: auto !important;
}
.property-description figure div div iframe {
    width: 800px !important;
    height: 500px !important;
    position: unset !important;
    border: 3px solid black !important;
}
